.menu
    .menu__header
        .items
            .item
                h2 Продукция, которой мы вас радуем
            .item
                .menu__header-positions
                    .text.text_size_96.text_color_secondary.text_weight_700 246
                    .menu__header-desc
                        h5 Поизиций
                        .menu__desc.text На данный момент в наших руках, для вашего пользования

    .menu__body
        each val, index in menu
            .menu__item&attributes(isInModal)
                .menu__item-inner
                    .menu__item-inner.menu__item-hover.cube.cube_size_large
                        picture
                            source(srcset=`./img/${val.img}.webp`)
                            img.menu__item-img(src=`./img/${val.img}.png` alt="animal")
                        .menu__item-text
                            .text.text_size_24.text_color_primary.text_weight_500= val.title
                    span(class=`menu__icon ${val.icon}`)
                    .text.text_size_20.text_weight_500= val.title
